form{
    width: 500px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color:#ccc;
    align-items: center;
}

h1{
    text-align: center;
    font-family:verdana;
}

.search-bar{
    width: 90%;
    max-height: 600px;
   background:rgba(255,255,255,0.2);
   display: flex;
   align-items: center;
   border-radius: 100px;
   padding: 1px 50px;
   backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder{
    color: #cac7ff;
}

.search-bar button img{
    width: 40px; 
}

.search-bar button{
    border: 0;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background:transparent;
    cursor: pointer;
}